h1{
  text-align: center;
}
#score1{
  color: #F6EA8C;
  text-shadow: black 2px 1px 2px;
}
#score2{
  color:#EF9E9F;
  text-shadow: black 2px 1px 2px;
}

#jeux{
  display: flex;
justify-content: space-around;
  align-items: center;
  height: 600px;
}
#carre{
  background-color: #4EA1D3;
  width: 630px;
  height: 500px;
  display: flex;
  flex-direction: row;
}
.rond{
  margin: 10px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: white;
}
#premiere , #deuxieme , #troisieme , #quatrieme , #cinquieme , #sixieme , #septieme{
  /* display: flex;
  flex-direction: column-reverse; */
}